* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border: 4px solid black;
    border-radius: 15px;
}
    
form {
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}